<?php

/**
  toolbox configuration file
**/

//  Set the connection to the data source
$rcmail_config['toolbox_dsn'] = 'pgsql://username:password@localhost/database';

// Set the table name
$config['toolbox_sql_table_name'] = 'toolbox';

// Set the name of the username field in the toolbox table
$config['toolbox_sql_username_field'] = 'username';
